<!--{block return}-->
<!--{if $pic}-->
<style>
	#toptb a#nav_dps_qrcode { background: url(source/plugin/dps_qrcode/images/qrcode.png) no-repeat 50% 50%;text-indent: -9999px;overflow: hidden; height: 18px; width: 23px; margin-top: 3px; }
</style>
<a id="nav_dps_qrcode" href="plugin.php?id=dps_qrcode&action=page" onclick="showWindow('page', this.href);return false;" title="{lang dps_qrcode:page}">{lang dps_qrcode:page}</a>
<!--{else}-->
<a class="showmenu curl" href="plugin.php?id=dps_qrcode&action=page" onclick="showWindow('page', this.href);return false;" title="{lang dps_qrcode:page}">{lang dps_qrcode:page}</a>
<!--{/if}-->
<!--{/block}-->
